* {
    background-color: white;
    margin: 10px;
   }
   #d1 {
    width: 200px;
    height: 100px;
    border-width: 2px;
    border-color: blue;
    background-color: yellow;
    color: blue;
    border-style: solid;
    text-align: center;
    margin: auto; 
    padding-top: 75px;
 font-size: 20px;
}
#i4 {
 background-color: white;
}
#i5 {
 background-color: white;
}
input[type='range'] {
 -webkit-appearance: none;
 background-color: blue;
 height: 6px;
}